# Archivo de variables de entorno para la Base de Datos

# Contraseña del usuario root de MySQL (obligatoria para la imagen de MySQL)
MYSQL_ROOT_PASSWORD=mi_super_secreto_root

# Nombre de la base de datos que se creará por defecto
MYSQL_DATABASE=proyecto_db

# Usuario regular que usará el backend (MySQL lo crea con acceso desde cualquier IP '%')
MYSQL_USER=devuser

# Contraseña del usuario regular
MYSQL_PASSWORD=secreto_devuser
